* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #efffda;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #97bd86;
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

#calculadoraForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 6px;
    outline: none;
    width: 100%;
}

input[type="number"]:focus {
    border-color: #6b9c5c;
}

.button {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.button button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #6b9c5c;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button button:hover {
    background-color: #6b9c5c;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
}
